*{
    margin: 0;
    padding: 0;
}
h1{
    font-size: 50px;
    font-weight: bold;
}  

body{
    background-color: aqua;
    text-align: center;
}
.container {
    height: 560px;
        
    display: flex;
    
    justify-content: center;
    align-items: center;
}

.game {
    height: 330px;
    width: 330px;
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1vmin;
   

}
.box{
    height: 100px;
    width: 100px;
    border: none;
    border-radius: 10px;
    background-color: antiquewhite;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 35px;
    color: red;
   
}

.new_btn {
    background-color: black;
    color: aliceblue;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    height: 35px;
    width: 80px;
    padding: 2px;
    align-items: center;
    cursor: pointer;

}

.reset {
    background-color: black;
    color: aliceblue;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    height: 35px;
    width: 80px;
    padding: 2px;
    align-items: center;
    cursor: pointer; 

}

.msg_container{
    display: flex;
    height: 100vmin;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    
}

.msg {
    color: green;
    font-family: 'Courier New', Courier, monospace;
    font-size: 5vmin;
}
.hide {
    display: none;
}

.scoreboard {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;

}

#score-o, #score-x {
    font-size: 26px;
    color: #333;
    text-align: center;
    background-color: bisque;
    overflow: cover;
    height: 29px;
    width: 130px;
    border-radius: 8px;
    border: none;
    margin: 2px;
    padding: 2px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}

 

h1, .game_name {
    text-shadow: 2px 2px 4px #000000;   
}